<h1>New Boat</h1>
<%if current_user.profile%>
<%= render 'form', boat: @boat, list: @list, current_user: @current_user %>

<%else %>
<h2>Create a profile first</h2>
<%= link_to 'ProfileCreate', new_profile_path%>
<% end %>


<%= link_to 'Back', boats_path %>
